---
import { YouTube } from "astro-embed";
---

<div class="w-full h-auto max-w-full">
  <YouTube
    id="https://www.youtube.com/watch?v=zlg8QmkHPy0/?autoplay=1"
    poster="https://images-assets.nasa.gov/image/0302063/0302063~medium.jpg"
    params="autoplay=1"
  />
</div>
